nav {  background-color: #07407b;  }

#nav-title {  color: white;  }

body {
  font-family: 'Varela Round', sans-serif;
}

.container {  padding-top: 5.5em; }

.card { padding-top: 5.5em; }

h1 {
  padding-bottom: 0.25em;
  padding-top: 1em;
  font-size: 2em;
  text-align: center;
}

#last-row { padding-bottom: 5.5em;  }

.navbar-brand { font-size: 1.75em; }

h2 {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 1em;
}

h3 {
  font-size: 1.17em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.large-text{
  font-size: 1.17em;
}

#green-text {
  color: green;
}

#yellow-text {
  color: gold;
}

.red-text {
  color: red;
}

textarea {
  resize: none;
}

ul {
  list-style-type: none;
}

li {
  padding: 0.5em;
}

.center {
  text-align: center;
}

#break {
  padding-bottom: 2em;
}

#ticket-border {
  border-style: dotted;
  border-width: 0.15em;
  /* margin: 1em; */
  padding: 3em;
}

.small-padding {
  padding-bottom: 0.8em;
}
