nav {  background-color: #07407b;  }

#nav-title {  color: white;  }

body {  font-family: 'Varela Round', sans-serif !important; }

.container {  padding-top: 5.5em; }

h1 {
  padding-bottom: 1em;
  font-size: 1.5em !important;
  text-align: center;
}

#last-row { padding-bottom: 5.5em;  }

.navbar-brand { font-size: 1.75em !important; }
