{% extends "base_generic.html" %}

{% block content %}

<div class="container">

  <h1>Click a room below to see further information, submit a ticket, or provide additional feedback.</h1>
  <div class="row">
    {% for room in rooms %}
    <div class="col-sm-4 text-center">
      <!-- <div class="card"> -->
      <!-- temporarily commented out because I think I may like the look of it without cards more -->
        {% load static %}
      <img class="card-img-top" src={% with 'images/'|add:room.name|add:'.jpg' as image_static %} {% static image_static %} {% endwith %}" alt="{{room.name}}">
        <div class="card-body">
          <form method="get" action="/rooms/{{room.name}}/">
          <button type="submit" value="{{room.name}}" {% if room.status == 'g' %} class="btn btn-success">{%elif room.status == 'y' %} class="btn btn-warning"> {% elif room.status == 'r' %} class="btn btn-danger">{% endif %}{{room.name}}</button></form>
          <div class="card-body">
          <p class="card-text"> {{room.details}}</p>
        </div>
      </div>
      <!-- </div> -->
    </div>

{% endfor %}
{% endblock content %}
