{% extends "base_generic.html" %}

{% block content %}

<div class="container">

<h1><strong>{{room_name}}</strong></h1>

<p class="red-text center large-text small-padding">If you require immediate assistance, please contact the helpdesk at 275-5000 (x5-7500).</p>

{% if room_name.status == 'g' %} <p class="large-text">{{room_name}}'s status is <strong id="green-text">green</strong>.  This room is in perfect working order.</p>{%elif room_name.status == 'y' %}<p class="large-text">{{room_name}}'s status is <strong id="yellow-text">yellow</strong>. This room has the following known issues: </p>{% elif room_name.status == 'r' %} <p class="large-text">{{room_name}}'s status is <strong class="red-text">red</strong>. This room is currently unusable.</p>{% endif %}

<p class="large-text" id="break">{{room_name.details}}</p>

<form id="ticket-border" class="" method="post">
{% csrf_token %}

<h2><strong>Report a New Issue/Feedback</strong></h2>

<fieldset>
  <legend>What kind of an issue are you having?</legend>
  {{form.type_of_issue}}
</fieldset>

{{form.feedback_or_further_details}}

<h3>Optional: Submit your name & email, and we will send you room status updates or follow up with you.</h3>

  <div class="form-row">
    <div class="form-group col-md-6">
      {{form.first_name}}
    </div>
    <div class="form-group col-md-6">
      {{form.last_name}}
    </div>
  </div>

  <div class="form-group">
    {{form.email_address}}
  </div>

<fieldset>
  <legend>What is your affiliation with the School of Nursing?</legend>
  {{form.affiliation}}
  </fieldset>

  <input type="submit" value="Submit">
  </form>
</div>
{% endblock content %}
